Projects/WCFService1/WindowsFormsApplication1/Service References/WCFNumberGuessingService/NumberGuess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NumberGuess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1000/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1000/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INumberGuess_SecretNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:SecretNumber" />
  </wsdl:message>
  <wsdl:message name="INumberGuess_SecretNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:SecretNumberResponse" />
  </wsdl:message>
  <wsdl:message name="INumberGuess_checkNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:checkNumber" />
  </wsdl:message>
  <wsdl:message name="INumberGuess_checkNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="INumberGuess">
    <wsdl:operation name="SecretNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberGuess/SecretNumber" message="tns:INumberGuess_SecretNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberGuess/SecretNumberResponse" message="tns:INumberGuess_SecretNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberGuess/checkNumber" message="tns:INumberGuess_checkNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberGuess/checkNumberResponse" message="tns:INumberGuess_checkNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INumberGuess" type="tns:INumberGuess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SecretNumber">
      <soap:operation soapAction="http://tempuri.org/INumberGuess/SecretNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkNumber">
      <soap:operation soapAction="http://tempuri.org/INumberGuess/checkNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NumberGuess">
    <wsdl:port name="BasicHttpBinding_INumberGuess" binding="tns:BasicHttpBinding_INumberGuess">
      <soap:address location="http://localhost:1000/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>